<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
    <div class="page-wrapper">
        <!-- MENU MOBILE-->
        {{ template "menu-mobile.html" . }}
        
        <!-- END MENU MOBILE-->

        <!-- MENU SIDEBAR-->
        {{ template "sidebar.html" . }}
        
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MENU DESKTOP-->
            {{ template "menu.html" . }}
            
            <!-- MENU DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        

                        {{range .payload }}
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-link"></i>
                                            </div>
                                            <div class="text">
                                                <h2>Block No: #{{.Index}}</h2><br>
                                                <span>Timestamp : {{.Timestamp}}</span><br>
                                                <span>BPM : {{.BPM}}</span><br>
                                                <span>Hash : {{.Hash}}</span><br>
                                                <span>PrevHash : {{.PrevHash}}</span><br>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <!-- <canvas id="widgetChart1"></canvas> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
